.jumbotron{
  text-align: center;
  margin-top: 50px
}

.headerimg{
  width: 75%;
  height: auto;
  float: center;
  margin-top: 100px;
}
.dttky{
  width: 100%;
  height: auto;
  padding-bottom: 30px;

}

.well h2 {
  text-align: center;
}

.panel-title{
  padding-top: 15px;
  padding-left: 15px;
}

}
.float{
  width: 5px;
  align-self: center;
}
